{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Types" %}{% endblock %}
{% block content %}
<div clas="container">
    <div class="row">
        <div class="col-sm-10">
            <b>{% translate "Type List" %}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% translate "Name" %}</th>
                        <th>{% translate "Description" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for charactertype in charactertype_list %}
                    <tr>
                        <td><a href="{{ charactertype.id }}/">{{ charactertype.name }}</a></td>
                        <td>{{ charactertype.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}