{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Cypher: " %}{{ cypher.name }}{% endblock %}
{% block content %}
<div clas="container">
    <div class="row">
        <div class="col-sm-2">
            <b>{% translate "Cypher" %}</b>
        </div>
        <div class="col-sm-4"><b>{{ cypher.name }}</b></div>
        <div class="col-sm-4" valign="right"><a href="/cscg/cypher/{{ cypher.id }}">Modifier</a></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Level</div>
        <div class="col-sm-4">{{ cypher.level }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">{% translate "Effect" %}</div>
        <div class="col-sm-9">{{ cypher.effect }}</div>
    </div>
   
    <table class="table table-light table-striped table-sm og-dt">
        <thead>
        <tr>
            <th>Subtle</th>
            <th>Manifest</th>
            <th>Fantastic</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% if cypher.is_subtle %}Yes{% else %}No{% endif %}</td>
                <td>{% if cypher.is_manifeste %}Yes{% else %}No{% endif %}</td>
                <td>{% if cypher.is_fantastic %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-2">{% translate "Table" %}</div>
        <div class="col-sm-9">{{ cypher.table|safe }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">{% translate "Hint" %}</div>
        <div class="col-sm-9">{{ cypher.hint  }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><strong>Old GUS format</strong></div>
    </div>
    <div class="row">
        <div class="col-sm-10">

 &lt;h5 class="og-h-h5-icon" id="cypher-{{ cypher.get_anchor }}"&gt;{{ cypher.name }}{% if cypher.is_subtle %}&lt;span data-toggle="tooltip" title="Subtle Cypher" class="og-icon og-cypher-subtle ms-1"&gt;&lt;/span&gt;{% endif %}{% if cypher.is_manifeste %}&lt;span data-toggle="tooltip" title="Manifest Cypher" class="og-icon og-cypher-manifest ms-1"&gt;&lt;/span&gt;{% endif %}{% if cypher.is_fantastic %}&lt;span data-toggle="tooltip" title="Fantastic Cypher" class="og-icon og-cypher-fantastic ms-1"&gt;&lt;/span&gt;{% endif %}&lt;a class="og-h-anchor" href="#cypher-{{ cypher.get_anchor }} title="Permalink" aria-hidden="true"&gt;&lt;/a&gt;&lt;/h5&gt;<br>
&lt;p class="og-cite"&gt;&lt;span class="og-ref"&gt;{{ cypher.name_en }} {%if '(' in cypher.cs_page %}{{ cypher.cs_page }}{% else %}({{ cypher.cs_page }}){% endif %}&lt;/span&gt;&lt;/p&gt;<br>
&lt;ul class="list-unstyled og-ind-hang"&gt;<br>
	&lt;li&gt;&lt;p&gt;&lt;strong&gt;Niveau:&lt;/strong&gt; {{ cypher.level }}&lt;/p&gt;&lt;/li&gt;<br>
	&lt;li&gt;<br>
		&lt;p&gt;&lt;strong&gt;Effet:&lt;/strong&gt; {{ cypher.get_effect|safe }}&lt;/p&gt;<br>
	&lt;/li&gt;<br>
&lt;/ul&gt;<br>
{% if cypher.table|length > 0 %}&lt;div class="table-responsive"&gt;{{ cypher.get_table|safe }}&lt;/div&gt;<br>{%endif%}
{% if cypher.hint|length > 0 %}&lt;div class="og-sidebar pt-3 pb-1 ps-3 pe-3 mt-3 mb-3"&gt;<br>
    &lt;p&gt;{{ cypher.hint }}&lt;/p&gt;<br>
&lt;/div&gt;<br>{% endif %}

        </div>
    </div>
</div>
{% endblock %}