{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Ability: " %}{{ ability.name }}{% endblock %}
{% block content %}
<div clas="container">
    <div class="row">
        <div class="col-sm-10">
            <b>{% translate "Ability List" %}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10"><a href="/cscg/ability-create/">Nouvelle Capacité</a></div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% translate "Name" %}</th>
                        <th>{% translate "Stat used" %}</th>
                        <th>{% translate "Description" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ability in ability_list %}
                    <tr>
                        <td><a href="{{ ability.id }}/">{{ ability.name }}</a></td>
                        <td>{% if ability.stat %}{{ ability.stat }}{% else %}---{% endif %}</td>
                        <td>{{ ability.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}