
{% for focus in focus_list %}

{#  Format for index.html #}
&lt;div class="col-12 col-md-6"&gt;<br>
	&lt;h5 id="{{ focus.get_htmlid }}"&gt;{{ focus.name }}&lt;a class="og-h-anchor" href="#{{ focus.get_htmlid }}" title="Permalink" aria-hidden="true"&gt;&lt;/a&gt;&lt;/h5&gt;<br>
	&lt;p class="og-cite"&gt;&lt;span class="og-ref"&gt;(Cypher System Rulebook, page 65)&lt;/span&gt;&lt;/p&gt;<br>
	&lt;p&gt;{{ focus.get_htmldescription }}&lt;/p&gt;<br>
	&lt;ul class="og-abilities-list"&gt;<br>
        {% if focus.abilities_tier1.abilities_to_choose.count > 0 %}
            &lt;li&gt;Rang 1: 
            {% for ability in focus.abilities_tier1.abilities_to_choose.all %}
            &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;
            {% if not forloop.last %} ou {% endif %}
            {% endfor %}
            &lt;/li&gt;<br>
        {% else %}
        {% for ability in focus.abilities_tier1.abilities.all %}
        &lt;li&gt;Rang 1: &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;&lt;/li&gt;<br>
        {% endfor %}
        {% endif %}
        {% if focus.abilities_tier2.abilities_to_choose.count > 0 %}
            &lt;li&gt;Rang 2: 
            {% for ability in focus.abilities_tier2.abilities_to_choose.all %}
            &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;
            {% if not forloop.last %} ou {% endif %}
            {% endfor %}
            &lt;/li&gt;<br>
        {% else %}
        {% for ability in focus.abilities_tier2.abilities.all %}
        &lt;li&gt;Rang 2: &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;&lt;/li&gt;<br>
        {% endfor %}
        {% endif %}
        {% if focus.abilities_tier3.abilities_to_choose.count > 0 %}
            &lt;li&gt;Rang 3: 
            {% for ability in focus.abilities_tier3.abilities_to_choose.all %}
            &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;
            {% if not forloop.last %} ou {% endif %}
            {% endfor %}
            &lt;/li&gt;<br>
        {% else %}
        {% for ability in focus.abilities_tier3.abilities.all %}
        &lt;li&gt;Rang 3: &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;&lt;/li&gt;<br>
        {% endfor %}
        {% endif %}
        {% if focus.abilities_tier4.abilities_to_choose.count > 0 %}
            &lt;li&gt;Rang 4: 
            {% for ability in focus.abilities_tier4.abilities_to_choose.all %}
            &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;
            {% if not forloop.last %} ou {% endif %}
            {% endfor %}
            &lt;/li&gt;<br>
            {% else %}
        {% for ability in focus.abilities_tier4.abilities.all %}
        &lt;li&gt;Rang 4: &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;&lt;/li&gt;<br>
        {% endfor %}
        {% endif %}
        {% if focus.abilities_tier5.abilities_to_choose.count > 0 %}
            &lt;li&gt;Rang 5: 
            {% for ability in focus.abilities_tier5.abilities_to_choose.all %}
            &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;
            {% if not forloop.last %} ou {% endif %}
            {% endfor %}
            &lt;/li&gt;<br>
        {% else %}
        {% for ability in focus.abilities_tier5.abilities.all %}
        &lt;li&gt;Rang 5: &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;&lt;/li&gt;<br>
        {% endfor %}
        {% endif %}
        {% if focus.abilities_tier6.abilities_to_choose.count > 0 %}
            &lt;li&gt;Rang 6: 
            {% for ability in focus.abilities_tier6.abilities_to_choose.all %}
            &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;
            {% if not forloop.last %} ou {% endif %}
            {% endfor %}
            &lt;/li&gt;<br>
        {% else %}
        {% for ability in focus.abilities_tier6.abilities.all %}
        &lt;li&gt;Rang 6: &lt;a href="#ability-{{ ability.get_anchor }}"&gt;{{ ability.name }}&lt;/a&gt; &lt;span class="og-ref"&gt;{%if '(' in ability.cs_page %}{{ ability.cs_page }}{% else %}({{ ability.cs_page }}){% endif %}&lt;/span&gt;&lt;/li&gt;<br>
        {% endfor %}
        {% endif %}
        &lt;/ul&gt;<br>
&lt;/div&gt;<br>
                
{% endfor %}

 
